<!DOCTYPE html>
<html>

<head>
    <title>Vue Bootstrap Hello World</title>
    <!-- 
        Included Online Ressources:
        https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css
        https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css.map
        https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js
        https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark-plugin.min.css
        https://unpkg.com/vue@3.2.40/dist/vue.global.js
        https://unpkg.com/vue@3.2.40/dist/vue.global.prod.js
    -->
    <meta name="color-scheme" content="light dark">
    <link  href="lib/bootstrap.min.css" rel="stylesheet">
    <link  href="lib/bootstrap-dark-plugin.min.css" rel="stylesheet">
    <script src="lib/bootstrap.bundle.min.js"></script>
    <script src="lib/vue.global.js"></script>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            line-height: 200px;
            width: 200px;
            margin: 10px;
            font-size: 40px;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        [v-cloak] {
            display: none;
        }
        .modal-backdrop {
            --bs-backdrop-zindex: 1000;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div v-cloak id="vue-app-container">
        <div class="container">
            <h1>Vue Bootstrap Hello World</h1>
            <div class="row">
                <div class="col-3">
                    <button class="btn col"
                        :class="{ 'btn-primary': isVisible==0, 'btn-secondary': isVisible==1, 'btn-info': isVisible==2 }"
                        @click="toggleBoxes">{{ toggleBoxLabel }}</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary col" @click="addListItem">Add Item</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary col" @click="removeListItem">Remove Item</button>
                </div>
            </div>
            <div class="row">
                <test-box label="W1" v-show="isVisible==1"></test-box>
                <test-box label="W2" v-show="isVisible==2"></test-box>
                <test-box :label="item" v-for="(item, index) in myComplexData.list"></test-box>
            </div>
            <div>
            </div>
        </div>
    </div>
    <script>
        let app = Vue.createApp({
            data: function () {
                return {
                    isVisible: 0,
                    myComplexData: {
                        list: [],
                    },
                    treeData: null,
                    urlpath: ''
                }
            },
            methods: {
                toggleBoxes: function () {
                    this.isVisible = (this.isVisible + 1) % 3
                    console.log(this.isVisible);
                },
                addListItem: function () {
                    this.myComplexData.list.push("" + this.myComplexData.list.length);
                },
                removeListItem: function () {
                    this.myComplexData.list.pop();
                },
            },
            computed: {
                toggleBoxLabel() {
                    return "Toggle Box: " + this.isVisible;
                },
            },
            updated() {
                console.log('updated')
            },
            created() {
                console.log('app created');
            },
            mounted() {
            }
        })
        app.component('test-box', {
            template: `
                    <div class="box" :style="{ 'background-color': randomColor }" >{{ label }}</div>
                `,
            props: {
                label: {
                    type: String,
                    default: "wololo",
                },
            },
            data: function () {
                return {
                    colors: [
                        'red',
                        'blue',
                        'green',
                        'orange',
                        'purple',
                    ],
                }
            },
            created() {
                console.log('created')
            },
            mounted() {
                console.log('mounted')
            },
            unmounted() {
                console.log('unmounted')
            },
            computed: {
                randomColor: function () {
                    const randomKey = Math.floor(Math.random() * this.colors.length);
                    return this.colors[randomKey];
                },
            }
        })
        app.mount('#vue-app-container')
    </script>
</body>

</html>