<!DOCTYPE html>
<html>

<head>
    <title>Vue Bootstrap Hello World</title>
    <!-- 
        Included Online Ressources:
        https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css
        https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css.map
        https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js
        https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark-plugin.min.css
        https://unpkg.com/vue@3.2.40/dist/vue.global.js
        https://unpkg.com/vue@3.2.40/dist/vue.global.prod.js
        https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js
    -->
    <meta name="color-scheme" content="light dark">
    <link  href="lib/bootstrap.min.css" rel="stylesheet">
    <link  href="lib/bootstrap-dark-plugin.min.css" rel="stylesheet">
    <script src="lib/bootstrap.bundle.min.js"></script>
    <script src="lib/vue.global.js"></script>
    <script src="lib/js-yaml.min.js"></script>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            line-height: 200px;
            width: 200px;
            margin: 10px;
            font-size: 40px;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        [v-cloak] {
            display: none;
        }
        .modal-backdrop {
            --bs-backdrop-zindex: 1000;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/x-template" id="item-template">
        <li v-show="filter != null">
          <div
            class="nav-link bold"
            v-if="isFolder"
            @click="toggle">
            {{ item.name }}
            <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
          </div>
          <div v-if="!isFolder" class="nav-link">
            <a :href="url" target="frame">
            {{ item.name }}
            </a>
            <a href="#" class="dropdown-toggle text-truncate mx-2" id="dropdown"
                            data-bs-toggle="dropdown"></a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                  <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
          <ul v-show="isOpen" v-if="isFolder">
            <tree-item
              class="item"
              ref="children"
              field="index"
              v-for="(child, index) in item.children"
              :key="index"
              :item="child"
              :filter="childFilter(child)"
              :path="path + '/' + item.name"
              :base="base"
            ></tree-item>
          </ul>
        </li>
    </script>
</head>

<body>
    <div v-cloak id="vue-app-container">
        <button type="button" class="btn-close bg-primary text-reset position-fixed"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" role="button"></button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <h5 class="offcanvas-title" id="offcanvasHeader">Menu</h6>
            </div>
            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column align-items-start" id="menu">
                    <li>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="filter-addon">filter</span>
                            <input
                                v-model="filter"
                                @input="runFilter"
                                type="text"
                                class="form-control"
                                placeholder="filter"
                                aria-label="filter"
                                aria-describedby="filter-addon">
                        </div>
                    </li>
                    <li>
                        <button onclick="window.location.reload()" class="btn-primary">Reload Page &#x21bb;</button>
                        <button @click="toggleTree()" class="btn-primary">Toggle All</button>
                    </li>
                    <tree-item
                        ref="tree"
                        class="item"
                        :item="treeData.tree"
                        :filter="filteredTree"
                        :base="treeData.base"
                        v-if="treeData != null"
                    ></tree-item>
                </ul>
            </div>
        </div>
        <div class="offcanvas-end"></div>
        <iframe style="width: 100vw;height: 100vh;" name="frame" id="frame" :src="iframesrc">
        </iframe>
    </div>
    <script>
        let app = Vue.createApp({
            data: function () {
                return {
                    treeData: null,
                    filteredTree: {},
                    iframesrc: '',
                    filter: '',
                    toggleTreeState: true,
                }
            },
            methods: {
                toggleTree: function () {
                    this.toggleTreeState = !this.toggleTreeState;
                    this.$refs.tree.toggleAll(this.toggleTreeState);
                },
                loadData: async function () {
                    const config = await jsyaml.load(await (await fetch('config.yaml', {cache: "no-store"})).text());
                    if (!this.iframesrc) this.iframesrc = config.index;
                    this.treeData = await jsyaml.load(await (await fetch(config.tree.url, {cache: "no-store", headers: config.tree.headers})).text());
                    console.log(JSON.stringify(this, null, 4));
                    this.runFilter();
                },
                setParam: function(obj) {
                    var qs = new URL(document.location.href);
                    for (var i in obj){
                        qs.searchParams.set(i, obj[i]);
                    }
                    window.history.replaceState(null, null, qs.href);
                },
                openOffcanvas: function () {
                    var qs = new URL(document.location.href);
                    var oc = document.getElementById("offcanvasLeft");
                    oc.addEventListener('show.bs.offcanvas', ()=>{
                        this.setParam({'open': 'true'});
                    })
                    oc.addEventListener('hide.bs.offcanvas', ()=>{
                        this.setParam({'open': 'false'});
                    })
                    if (qs.searchParams.get('open') === 'true'){
                        (new bootstrap.Offcanvas(oc)).show()
                    }
                    if (qs.searchParams.get('src') !== null){
                        this.iframesrc = qs.searchParams.get('src');
                    }
                    if (qs.searchParams.get('filter') !== null){
                        this.filter = qs.searchParams.get('filter');
                    }
                },
                runFilter: function(){
                    // console.log(this.filter);
                    this.setParam({'filter': this.filter});
                    const recurseFilter = function(obj, filter){
                        if (filter=='') return obj;
                        if (!obj) return;
                        if (obj.name.includes(filter)) return obj;
                        if (obj.children){
                            const filteredChildren = [];
                            obj.children.forEach(function (item){
                                const match = recurseFilter(item, filter);
                                if (match) filteredChildren.push(match);
                            });
                            // console.log(filteredChildren);
                            if (filteredChildren.length > 0) return {
                                'name': obj.name,
                                'children': filteredChildren,
                            };
                        }
                    }
                    const result = recurseFilter(this.treeData.tree, this.filter);
                    this.filteredTree = result ? result : {};

                    // console.log(JSON.stringify(this.filteredTree, null, 4));
                }
            },
            computed: {
                toggleBoxLabel() {
                    return "Toggle Box: " + this.isVisible;
                },
            },
            updated() {
            },
            created() {
                console.log('app created');
                this.loadData();
            },
            mounted() {
                this.openOffcanvas();
                var me = this;
                document.getElementById('frame').onload = function() {
                    console.log('frame is loaded');
                    frame = document.getElementById('frame')
                    const path = frame.contentWindow.location.pathname;
                    if (path !== 'blank'){
                        me.iframesrc = path;
                        me.setParam({'src': path});
                    }
                };
            }
        })
        app.component("tree-item", {
            template: "#item-template",
            props: {
                item: Object,
                filter: null,
                path: {
                    type: String,
                    default: "",
                },
                base: {
                    type: String,
                    default: "",
                },
            },
            data: function() {
                return {
                    isOpen: true
                };
            },
            computed: {
              isFolder: function() {
                return this.item.children && this.item.children.length;
              },
              url: function() {
                return this.base + this.path + '/' + this.item.name;
              }
            },
            mounted() {
            },
            updated() {
            },
            methods: {
              toggle: function() {
                if (this.isFolder) {
                  this.isOpen = !this.isOpen;
                }
              },
              toggleAll: function(state) {
                if (this.isFolder) {
                  this.isOpen = state;
                  if (this.$refs.children) {
                    this.$refs.children.forEach(function(child){
                        child.toggleAll(state);
                    });
                  }
                }
              },
              childFilter: function(child){
                if ((!this.filter) || (!this.filter.children)){
                    return null;
                }
                filterChild = null;
                this.filter.children.forEach(function(cf){
                    if (cf.name == child.name) filterChild = cf;
                });
                return filterChild;
              },
              setParamRoot: function(obj) {
                if (this.$parent){
                    var p = this.$parent;
                    while (p.$parent){
                        p = p.$parent
                        if (p.setParam){
                            break;
                        }
                    }
                    if (p.setParam){
                        p.setParam(obj)
                    }
                }
              },
            }
          });
        app.mount('#vue-app-container')
    </script>
</body>

</html>